<script>
	export let bg_color;
	export let gradient_start = '';
	export let gradient_end = '';
	export let img_src;
	export let img_alt;
	export let scroll_snap = false;
	export let subheading = null;
</script>

<!-- <Picture src="/img/cri_000000011550.png" /> -->

<section
	data-bg-color={bg_color}
	class="{gradient_start}-{gradient_end}"
	class:scroll-snap={scroll_snap}
>
	<div class="container">
		{#if img_src}
			<img src={img_src} alt={img_alt} />
		{/if}
		<div class="text">
			<slot />
		</div>
	</div>
	{#if subheading}
		<h3>{subheading}</h3>
	{/if}
</section>

<style lang="scss">
	h3 {
		position: unset;
		font-size: 1.7rem;
		color: white;
		font-family: $font-retro;
		margin-top: 2rem;
		text-align: center;

		@media (min-width: $lg) {
			position: absolute;
			margin: 0 auto;
			bottom: 10rem;
			right: 12rem;
			text-align: right;
		}
	}

	section {
		margin: 0 auto;
		box-sizing: border-box;
		width: 100%;
		min-height: 100vh;
		position: relative;
		padding: $header-margin-sm 10px 5%;
		margin-bottom: $section-margin-bottom-mobile;

		@media (min-width: $lg) {
			margin-bottom: $section-margin-bottom-desktop;
		}

		@media (min-width: $md) {
			padding: $header-margin-md 30px 10%;
		}

		@media (min-width: $lg) {
			padding: $header-margin-lg 50px 15%;
		}
	}

	.scroll-snap {
		scroll-snap-align: start;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
	}

	img {
		width: 100%;
		max-height: 65vh;
		height: auto;
		object-fit: contain;
		margin-bottom: 1rem;

		@media (min-width: $lg) {
			margin-bottom: 1.5rem;
		}
	}

	.text {
		max-width: 600px;
		margin: 0 auto;
	}

	:global(body[data-bg-color='rose']) {
		color: $beige;
	}

	:global(body[data-bg-color='beige']) {
		color: $rose;
	}
</style>
