<script>
	export let img_src;
	export let img_alt;
</script>

<section class="scroll-snap">
	<div class="container">
		{#if img_src}
			<img src={img_src} alt={img_alt} />
		{/if}
		<div class="text">
			<slot />
		</div>
	</div>
</section>

<style lang="scss">
	section {
		margin: 0 auto;
		box-sizing: border-box;
		width: 100%;
		height: 100vh;
		position: relative;
		padding: $header-margin-sm 10px 5%;

		@media (min-width: $md) {
			padding: $header-margin-md 10px 5%;
		}

		@media (min-width: $lg) {
			padding: $header-margin-lg 10px 5%;
		}
	}

	.scroll-snap {
		scroll-snap-align: start;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
		height: 100%;
	}

	.text {
		max-width: 600px;
		margin: 0 auto;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		margin-bottom: 0;
	}
</style>
