<script>
	import { fade } from 'svelte/transition';
	export let bg_color;
	export let logo;
	export let img_src;
	export let img_alt;
	export let codename;
	export let color_scheme;
	export let appearance;
	export let count;
</script>

<!-- <Picture src="/img/cri_000000011550.png" /> -->

<section data-bg-color={bg_color}>
	<div class="container text-right bottom">
		<div class="img-container" transition:fade={{ duration: 200 }}>
			<img src={img_src} alt={img_alt} />
		</div>
		<div class="text-container" transition:fade={{ duration: 200, delay: 200 }}>
			<img src="/img/dancing-cities-single/{logo}.svg" alt="" />
			<table>
				<tbody>
					<tr>
						<td class="head">codename</td>
						<td class="head">{codename}</td>
					</tr>
					<tr>
						<td>color scheme</td>
						<td>{color_scheme}</td>
					</tr>
					<tr>
						<td>appearance</td>
						<td>{appearance}</td>
					</tr>
					<tr>
						<td>count</td>
						<td>{count}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

<style lang="scss">
	.container {
		display: flex;
		flex-flow: row nowrap;
		margin: 0 auto;
		max-width: 1200px;
		align-items: flex-end;

		@media (max-width: $lg) {
			flex-direction: column;
			align-items: center;
		}
	}

	section {
		padding: 10rem 50px 20%;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		color: white;
	}

	img {
		width: 100%;
		height: 100%;
		max-height: 70vh;
		object-fit: contain;
	}

	td.head {
		font-family: $font-retro;
		font-size: 1.35rem;
	}

	.img-container {
		flex-basis: 66%;
		flex-grow: 3;
	}

	table {
		width: 100%;
	}

	.text-container {
		flex-basis: 33%;
		flex-grow: 1;
		padding: 1rem 1.5rem;
		min-width: 200px;
		max-width: 280px;
	}

	:global(body[data-bg-color='flandres01']::before) {
		background: $purple;
		background: linear-gradient(180deg, $purple 0%, $steel-blue 100%);
	}

	:global(body[data-bg-color='flandres02']::before) {
		background: $steel-blue;
		background: linear-gradient(180deg, $steel-purple 0%, $salmon 100%);
	}

	:global(body[data-bg-color='aillaud']::before) {
		background: $salmon-orange;
		background: linear-gradient(180deg, $salmon-orange 0%, $dark-raspberry 100%);
	}

	:global(body[data-bg-color='fusion01']::before) {
		background: $lilac;
		background: linear-gradient(180deg, $lilac 0%, $petrol 100%);
	}

	:global(body[data-bg-color='fusion02']::before) {
		background: $shallow-ocean;
		background: linear-gradient(180deg, $shallow-ocean 0%, $deep-ocean 100%);
	}

	:global(body[data-bg-color='flandres03']::before) {
		background: $mint;
		background: linear-gradient(180deg, $mint 0%, $dark-purple 100%);
	}
</style>
