<script>
	export let bg_color;
	export let img_src;
	export let img_alt;
	export let text_vertical_position; // top or bottom
	export let text_horizontal_position;
	export let black = false;
</script>

<!-- <Picture src="/img/cri_000000011550.png" /> -->

<section data-bg-color={bg_color}>
	<div class="container text-{text_horizontal_position} {text_vertical_position}">
		<div class="img-container">
			<img src={img_src} alt={img_alt} />
		</div>
		<div class="text-container" class:black>
			<slot />
		</div>
	</div>
</section>

<style lang="scss">
	.container {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;

		@media (min-width: $lg) {
			flex-flow: row nowrap;

			&.bottom {
				align-items: flex-end;
			}

			&.top {
				align-items: flex-start;
			}

			&.text-left {
				flex-direction: row-reverse;
			}
		}
	}

	section {
		padding: 10rem 50px 20%;
		margin: 0 auto;
		max-width: 1200px;
		box-sizing: border-box;
		width: 100%;
		height: 100vh;
		scroll-snap-align: start;
		position: relative;
		margin-bottom: $section-margin-bottom-mobile;

		@media (min-width: $lg) {
			margin-bottom: $section-margin-bottom-desktop;
		}
	}

	img {
		width: 100%;
		height: 100%;
		max-height: 70vh;
		object-fit: contain;
	}

	.img-container {
		flex-basis: 66%;
		flex-grow: 3;
	}

	.text-container {
		flex-basis: 33%;
		flex-grow: 1;
		padding: 1rem 1.5rem;
		max-width: 50ch;
		font-family: $font-retro;

		@media (min-width: $lg) {
			max-width: 200px;
		}

		&.black {
			color: black;
		}
	}

	:global(body[data-bg-color='rose']) {
		color: $beige;
	}

	:global(body[data-bg-color='beige']) {
		color: $rose;
	}
</style>
