<script>
	import { page } from '$app/stores';
	let width;
	$: menu_open = false;

	function toggleMenu() {
		menu_open = !menu_open;
	}

	function navClick() {
		document.querySelector('main').scrollTo(0, 0);
		menu_open = false;
	}
</script>

<svelte:window bind:innerWidth={width} />

<header class:menu-open={menu_open}>
	<button
		on:click={toggleMenu}
		class:is-active={menu_open}
		class="hamburger hamburger--squeeze"
		type="button"
	>
		<span class="hamburger-box">
			<span class="hamburger-inner" />
		</span>
	</button>
	<nav>
		<ul>
			<li class:active={$page.path === '/'}>
				<a sveltekit:prefetch href="/" on:click={navClick}>Origin Story</a>
			</li>
			<li class:active={$page.path === '/dancing-cities'}>
				<a sveltekit:prefetch href="/dancing-cities" on:click={navClick}>Dancing Cities</a>
			</li>
			<li class:active={$page.path === '/comic-book'}>
				<a sveltekit:prefetch href="/comic-book" on:click={navClick}>Comic Book</a>
			</li>
			<li>
				<a href="https://twitter.com/DancingCities_" target="_blank"
					><img src="/img/twitter.svg" alt="Dancing Cities on Twitter" /></a
				>
			</li>
		</ul>
	</nav>
</header>

<style lang="scss">
	header {
		position: fixed;
		z-index: 20;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		padding: 50% 0 2.5rem;
		width: 100%;
		flex-direction: column;
		backdrop-filter: blur(0);
		transition: backdrop-filter 200ms;
	}

	nav {
		transition: transform 200ms;
		transform: translateY(-100vh);
	}

	button.hamburger {
		position: fixed;
		top: 10px;
		right: 15px;
		z-index: 20;
	}

	ul {
		position: relative;
		padding: 0;
		margin: 0;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		background: transparent;
		flex-direction: column;
	}

	.menu-open {
		backdrop-filter: blur(5px);
		height: 100vh;
		background: rgba(255, 255, 255, 0.4);

		& nav {
			transform: translateY(0);
		}
	}

	img {
		width: 1.1em;
		height: 1.1em;
		object-fit: contain;
		margin-top: 0.5em;
	}

	@media (min-width: $hamburger-breakpoint) {
		button.hamburger {
			display: none;
		}

		header {
			display: block;
			transform: translateY(0);
			padding-top: 2rem;
		}

		ul {
			height: 3em;
			flex-flow: row nowrap;
		}

		img {
			margin-top: 0;
		}

		nav {
			transform: translateY(0);
		}
	}

	nav {
		font-family: $font-retro;
		display: block;
		justify-content: center;
		--background: rgba(255, 255, 255, 0.7);
	}

	li {
		position: relative;
		height: 100%;
	}

	nav a {
		display: flex;
		height: 100%;
		align-items: center;
		padding: 0 1em;
		font-weight: 700;
		font-size: 2rem;
		text-transform: lowercase;
		text-decoration: none;
		transition: color 0.2s linear;
	}

	:global(body[data-bg-color='rose']::before) {
		background-color: $rose;

		.hamburger-inner,
		.is-active .hamburger-inner,
		.is-active .hamburger-inner::before,
		.is-active .hamburger-inner::after,
		.hamburger-inner::before,
		.hamburger-inner::after {
			background-color: $beige;
		}

		a {
			color: $beige;
		}

		li.active a {
			color: $beige-dark;
		}

		li a:hover {
			color: $beige-light;
		}
	}

	:global(body[data-bg-color='beige']::before) {
		background-color: $beige;

		.hamburger-inner,
		.is-active .hamburger-inner,
		.is-active .hamburger-inner::before,
		.is-active .hamburger-inner::after,
		.hamburger-inner::before,
		.hamburger-inner::after {
			background-color: $rose;
		}

		a {
			color: $rose;
		}

		li.active a {
			color: $rose-dark;
		}

		li a:hover {
			color: $rose-light;
		}
	}

	:global(body[data-page='dancing-cities']::before) {
		background-color: $beige;

		.hamburger-inner,
		.is-active .hamburger-inner,
		.is-active .hamburger-inner::before,
		.is-active .hamburger-inner::after,
		.hamburger-inner::before,
		.hamburger-inner::after {
			background-color: $cyan;
		}

		a {
			color: $cyan;
		}

		li.active a {
			color: $cyan-dark;
		}

		li a:hover {
			color: $cyan-light;
		}
	}

	:global(body[data-page='comic-book']::before) {
		.hamburger-inner,
		.is-active .hamburger-inner,
		.is-active .hamburger-inner::before,
		.is-active .hamburger-inner::after,
		.hamburger-inner::before,
		.hamburger-inner::after {
			background-color: white;
		}

		a {
			color: white;
		}

		li a:hover {
			color: $beige;
		}
	}
</style>
