<script>
	export let class_list = '';
	export let src_large = null;
	export let src_xlarge = null;
	export let src_xxlarge = null;
	export let src_xxxlarge = null;
	export let object_position;
	export let src;
	export let alt;

</script>

<picture class={class_list}>
	{#if src_xxxlarge}
		<source srcset="{src_xxxlarge}.webp" media="(min-width: 2048px)" type="image/webp" />
	{/if}
	{#if src_xxlarge}
		<source srcset="{src_xxlarge}.webp" media="(min-width: 1536px)" type="image/webp" />
	{/if}
	{#if src_xlarge}
		<source srcset="{src_xlarge}.webp" media="(min-width: 992px)" type="image/webp" />
	{/if}
	{#if src_large}
		<source srcset="{src_large}.webp" media="(min-width: 768px)" type="image/webp" />
	{/if}
	{#if src_large}
		<source srcset="{src}.webp, {src_large}.webp 2x" type="image/webp" />
	{:else}
		<source srcset="{src}.webp" type="image/webp" />
	{/if}
	<source srcset={src} type="image/jpeg" />
	{#if object_position}
		<img {alt} {src} style="object-position: {object_position}; object-fit: cover;" />
	{:else}
		<img {alt} {src} />
	{/if}
</picture>

<!-- As a reference: with Lazy Loading -->

<!-- <picture class="swiper-slide-inner">
	<source class="lazy" data-srcset="{item.src}.webp" type="image/webp" />
	<img class="lazy" alt={item.alt} data-src={item.src} />
</picture> -->
