<script>
	export let gradient_start = '';
	export let gradient_end = '';
	export let img_srcs;
	export let img_alts;
	export let codenames;
	export let color_schemes;
</script>

<!-- <Picture src="/img/cri_000000011550.png" /> -->

<section class="{gradient_start}-{gradient_end}">
	<div class="container">
		{#each codenames as codename, i}
			<div class="inner">
				<div class="img-container">
					<img src={img_srcs[i]} alt={img_alts[i]} />
				</div>
				<div class="text-container">
					<h4>codename: {codename}</h4>
					<p>color schemes: {color_schemes[i]}</p>
				</div>
			</div>
		{/each}
	</div>
</section>

<style lang="scss">
	.container {
		display: flex;
		flex-flow: row nowrap;
		max-width: 1200px;
		margin: 0 auto;

		@media (max-width: $lg) {
			flex-direction: column;
		}
	}

	.inner {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		align-content: flex-start;
	}

	section {
		box-sizing: border-box;
		width: 100%;
		position: relative;
		color: $raspberry;
		padding: $header-margin-sm 10px 5%;
		scroll-snap-align: start;

		@media (min-width: $md) {
			padding: $header-margin-md 30px 10%;
		}

		@media (min-width: $lg) {
			padding: $header-margin-lg 50px 15%;
		}
	}

	img {
		width: 100%;
		height: 100%;
		max-height: 70vh;
		object-fit: contain;
	}

	.img-container {
		display: flex;
		justify-content: flex-end;
		align-content: flex-start;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-content: flex-start;
		padding: 1rem 1.5rem;

		@media (min-width: $md) {
			padding-left: 20ch;
		}

		@media (min-width: $lg) {
			padding-left: 10ch;
		}

		& h4,
		& p {
			margin: 0;
		}
	}
</style>
