<script>
	import Header from '$lib/Header.svelte';
	import '../app.css';
</script>

<Header />

<main>
	<slot />
</main>

<style>
	main {
		padding: 0;
		width: 100%;
		box-sizing: border-box;
		/* overflow-y: scroll; */
		/* height: 100vh; */
		/* overflow-y: hidden; */
		/* scroll-snap-points-y: repeat(100vh);
		scroll-snap-type: y proximity; */
	}
</style>
