<script>
	import { onMount } from 'svelte';
	import ComicBookSection from '$lib/ComicBookSection.svelte';

	onMount(async () => {
		document.body.dataset.bgColor = 'comic-book-grey';
		document.body.dataset.page = 'comic-book';
	});
</script>

<ComicBookSection
	img_src="/img/comic-book/Wallpaper_HQ Kopie-ohne hg.png"
	img_alt="Dancing Cities Comic 1"
/>

<ComicBookSection>
	<p>
		Dancing cities is a spin-off project from the first chapter of the comic book, it is referring
		to Archig- ram‘s „Moving Cities“. The other Chapters of the book are still in work, similar to
		the first one, they are dealing with architectural movements and visions from the 1960s and
		their social relevance today.
	</p>
	<p>
		Numerous collectives have been formed in this period, many of which can be classified as archi-
		tectural postmodernists. Their agenda united them in the emancipation from the ideals of
		classical modernism and to return the focus to the human being in order to reconnect
		architecture back to its inhabitants. Four selected theories of Archigram, Archizoom as well as
		Guy Debord and Rem Kohlhaas will be discussed.
	</p>
	<p>
		Their predictions for the future are being recapitulated in the comic book by a coherent
		narrative. The plot uses the theories as tools for analysis from today’s perspective and opens
		up a current dis- course by contrasting the visions of the past with reality.
	</p>
	<p>
		The follow op project of the dancing cities is going to be launched to generate the budget for
		the comic book. The hand-drawn pages will be sold as NFT‘s to raise enough funding to complete
		the book. Every sold NFT will include a free copy of the book.
	</p>
</ComicBookSection>

<ComicBookSection
	img_src="/img/comic-book/WUESTE_2_HQ Kopie-ohne hg.png"
	img_alt="Dancing Cities Comic 2"
/>

<ComicBookSection
	img_src="/img/comic-book/ARCHEO_HQ Kopie ohne HG.png"
	img_alt="Dancing Cities Comic 3"
/>

<ComicBookSection
	img_src="/img/comic-book/Erste-Probleme_HQ ohne hg.png"
	img_alt="Dancing Cities Comic 4"
/>

<ComicBookSection
	img_src="/img/comic-book/RUINEN_HQ Kopie-ohne hg.png"
	img_alt="Dancing Cities Comic 5"
/>

<ComicBookSection
	img_src="/img/comic-book/KINO_Sitze_1.1 Kopie.png"
	img_alt="Dancing Cities Comic 6"
/>

<div><h4>lookin forward to see you again!</h4></div>

<svelte:head>
	<title>Dancing Cities | Comic Book</title>
</svelte:head>

<style lang="scss">
	:global(body) {
		background-color: $comic-book-grey;
		color: white;
	}

	div {
		margin: -5% auto 150px;
		width: auto;
		max-width: 60ch;
	}

	h4 {
		text-align: center;
		font-family: $font-retro;
		font-size: 1.8rem;
	}
</style>
