<script context="module">
	export const prerender = true;
</script>

<script>
	import { onMount } from 'svelte';
	import IntersectionObserver from '$lib/IntersectionObserver.svelte';
	import BasicSection from '$lib/BasicSection.svelte';
	import ThreeColumnSection from '$lib/ThreeColumnSection.svelte';
	import DancingCitySingle from '$lib/DancingCitySingle.svelte';

	onMount(async () => {
		document.body.dataset.bgColor = 'flandres01';
		document.body.dataset.page = 'dancing-cities';
	});
</script>

<svelte:head>
	<title>Dancing Cities | Dancing Cities</title>
</svelte:head>

<BasicSection
	gradient_start="purple"
	gradient_end="blue"
	img_src="/img/dancing-cities/color_scheme.png"
	img_alt="Color Scheme"
	subheading="Color Scheme"
/>

<ThreeColumnSection
	gradient_start="blue"
	gradient_end="purple"
	img_srcs={[
		'/img/dancing-cities/aillaud.png',
		'/img/dancing-cities/fusion.png',
		'/img/dancing-cities/flandres.png'
	]}
	img_alts={['Aillaud', 'Fusion', 'Flandres']}
	codenames={['aillaud', 'fusion', 'flandres']}
	color_schemes={[
		'sunburst',
		'winter bee, mountain blue',
		'autumn candy, lilac hazelnut, miami mix'
	]}
/>
<IntersectionObserver let:intersecting>
	<DancingCitySingle
		bg_color="flandres01"
		logo="flandres"
		img_src="/img/dancing-cities-single/Flandres_01_Single_a.png"
		img_alt="Flandres 01"
		codename="flandres"
		color_scheme="autumn candy"
		appearance="a"
		count="1/2"
	/>
</IntersectionObserver>

<IntersectionObserver let:intersecting>
	<DancingCitySingle
		bg_color="flandres02"
		logo="flandres"
		img_src="/img/dancing-cities-single/Flandres_02_Triple_bac.png"
		img_alt="Flandres 02"
		codename="flandres"
		color_scheme="miami mix"
		appearance="bac"
		count="1/6"
	/>
</IntersectionObserver>

<IntersectionObserver let:intersecting>
	<DancingCitySingle
		bg_color="aillaud"
		logo="aillaud"
		img_src="/img/dancing-cities-single/Aillaud_01_Double_ba.png"
		img_alt="Aillaud"
		codename="aillaud"
		color_scheme="sunset boulevard"
		appearance="ba"
		count="1/4"
	/>
</IntersectionObserver>

<IntersectionObserver let:intersecting>
	<DancingCitySingle
		bg_color="fusion01"
		logo="fusion"
		img_src="/img/dancing-cities-single/Fusion_01_Triple_cba.png"
		img_alt="Fusion 01"
		codename="fusion"
		color_scheme="winter bee"
		appearance="cba"
		count="1/6"
	/>
</IntersectionObserver>

<IntersectionObserver let:intersecting>
	<DancingCitySingle
		bg_color="fusion02"
		logo="fusion"
		img_src="/img/dancing-cities-single/Fusion_02_Double_cb.png"
		img_alt="Fusion 02"
		codename="fusion"
		color_scheme="mountain blue"
		appearance="cab"
		count="1/6"
	/>
</IntersectionObserver>

<IntersectionObserver let:intersecting>
	<DancingCitySingle
		bg_color="flandres03"
		logo="flandres"
		img_src="/img/dancing-cities-single/Flandres_03_Double_cb.png"
		img_alt="Flandres 03"
		codename="flandres"
		color_scheme="lilac hazelnut"
		appearance="bca"
		count="1/6"
	/>
</IntersectionObserver>

<style lang="scss">
	:global(body) {
		color: $cyan;
	}
</style>
