<script context="module">
	export const prerender = true;
</script>

<script>
	import { onMount } from 'svelte';
	import IntersectionObserver from '$lib/IntersectionObserver.svelte';
	import BasicSection from '$lib/BasicSection.svelte';
	import FlexSection from '$lib/FlexSection.svelte';

	onMount(async () => {
		document.body.dataset.bgColor = 'beige';
		document.body.dataset.page = 'home';
	});
</script>

<svelte:head>
	<title>Dancing Cities | Origin Story</title>
</svelte:head>

<div class="mint-button-container" target="_blank">
	<a href="https://tnim.dancingcities.art">mint</a>
</div>

<IntersectionObserver let:intersecting>
	<BasicSection
		bg_color="beige"
		img_src="/img/cri_000000011550.png"
		img_alt="A walking city"
		scroll_snap
		><p>
			‚A Walking City‘ — Archigram and Ron Herron. Archigram was an Avant-grade group that existed
			between 1961 and 1974. They drew inspiration from technology to create new realties that was
			expressed through their hypothetical projects, such as, A Walking City, Living Pod, and
			Instant City.
		</p></BasicSection
	>
</IntersectionObserver>
<IntersectionObserver let:intersecting>
	<BasicSection bg_color="rose" scroll_snap>
		<p>
			The Project is about architectural movements and visions from the 1960s and their social
			relevance today. Many of the dystopias of that time became reality nowadays. The mostly dark
			forecasts were meant to be a warning, a warning that was ignored. Those visions and theories
			discuss a wide range of topics from gentrification to climate change.
		</p>
		<p>
			The main focus is on the work of the Architectural collective „Archigram“ and their project
			„Walking City“ from 1960. The Walking City is constituted by intelligent buildings or robots
			that are in the form of giant, self-contained living pods that could roam. In this vision, the
			cities can move wherever they are needed. Instead of demolishing buildings and building new
			ones somewhere else, those ones can move to the new location again and again.
		</p>
		<p>
			The project Dancing Cities is revisiting Archigrams‘ vision from the 60s - from today‘s
			perspective - yet, 60 years later, in the so-called „future“. Did we manage to put our houses
			on legs? Did the vision from 60 years ago come true? What really happens to our cities?
		</p>
		<p>
			The Dancing Cities have been made of real buildings that were created in the 80s - full of the
			ener- gy of the postmodernist movement. Unfortunately, they did not have legs, so we gave them
			the legs they deserved!
		</p></BasicSection
	>
</IntersectionObserver>
<IntersectionObserver let:intersecting>
	<BasicSection
		bg_color="beige"
		img_src="/img/Laurent_Kronental_-_ArchDaily.jpg"
		img_alt="Orgues de Flandre"
		scroll_snap
	>
		<p>
			The Orgues de Flandre, which can be translated as the „Organs of Flanders“, are a group of
			residential buildings in the 19th arrondissement of Paris, France. Built from 1974 to 1980 by
			the architect Martin van Trek, the buildings are at 67-107 avenue de Flandre and 14-24 rue
			Archereau.
		</p></BasicSection
	>
</IntersectionObserver>
<!-- Orgues des Flandres -->
<IntersectionObserver let:intersecting>
	<FlexSection
		bg_color="rose"
		img_src="/img/Les Orgues des Flandres_1.2_color 2021-11-22 14425800000.png"
		img_alt="Orgues des Flandres"
		text_vertical_position="bottom"
		text_horizontal_position="right"
	>
		<p>
			This is the reinterpretation of the Orgues de Flandres. Those four high performace legs are
			providing the extraordinary skill of striking dance moves.
		</p></FlexSection
	>
</IntersectionObserver>
<IntersectionObserver let:intersecting>
	<FlexSection
		bg_color="beige"
		img_src="/img/tours_aillaud.jpg"
		img_alt="Tours Aillaud"
		text_vertical_position="bottom"
		text_horizontal_position="right"
		black="true"
	>
		<p>
			The Tours Aillaud is a group of residential buildings located in Nanterre, in the inner
			suburbs of Paris, France. Built in 1976 at the outskirts of La Défense business district, the
			Tours Aillaud are named after their main architect, Emile Aillaud.
		</p></FlexSection
	>
</IntersectionObserver>
<!-- Tours Aillaud -->
<IntersectionObserver let:intersecting>
	<FlexSection
		bg_color="rose"
		img_src="/img/alliaud_stroy.png"
		img_alt="Tours Aillaud"
		text_vertical_position="top"
		text_horizontal_position="left"
	>
		<p>
			Say hello to the six-legged version of Tours Aillaud. With great legs comes great
			responsibility.
		</p></FlexSection
	>
</IntersectionObserver>
<!-- Tours Aillaud -->
<IntersectionObserver let:intersecting>
	<FlexSection
		bg_color="beige"
		img_src="/img/Stranded HLM_1.1 2021-11-23 14212800000.png"
		img_alt="Stranded"
		text_vertical_position="top"
		text_horizontal_position="left"
	>
		<p>
			Some of them are still learning how to walk. But we are confident they will soon become great
			dancers.
		</p></FlexSection
	>
</IntersectionObserver>

<style lang="scss">
	.mint-button-container {
		height: 15vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: $header-margin-sm;
		margin-bottom: -3rem;

		@media (min-width: $lg) {
			margin-top: $header-margin-lg;
		}
	}

	a {
		background-color: $dark-purple;
		color: white;
		z-index: 0;
		padding: 0.5rem 1.5rem 0.5rem;
		font-family: $font-retro;
		font-size: 2rem;
		transition: color 200ms;
		cursor: pointer;
		border-radius: 15px;

		&:hover {
			text-decoration: none;
			color: $comic-book-grey;
		}
	}
</style>
