// Hamburger CSS
@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

// Fonts
$font-retro: 'Gameplay', Courier, sans-serif;

// colors
$amount: 10%;
$rose: #db727d;
$rose-light: lighten($rose, $amount);
$rose-dark: darken($rose, $amount);
$beige: #dad3c4;
$beige-light: lighten($beige, $amount);
$beige-dark: darken($beige, $amount);
$cyan: #04ffff;
$cyan-light: lighten($cyan, $amount);
$cyan-dark: darken($cyan, $amount);
$raspberry: #be4e69;
$purple: rgba(231, 125, 218, 1);
$steel-blue: rgba(185, 182, 226, 1);
$steel-purple: #aaade8;
$salmon: #e57f8d;
$salmon-orange: #ff7c71;
$dark-raspberry: #ad2d54;
$lilac: #9d8596;
$petrol: #879a9e;
$shallow-ocean: #74a7a3;
$deep-ocean: #2d5366;
$mint: #9cc1af;
$dark-purple: #543f52;
$comic-book-grey: rgb(206, 204, 203);

// Media Query Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$header-margin-sm: 5rem;
$header-margin-md: 5rem;
$header-margin-lg: 8rem;
$hamburger-breakpoint: $lg;
$section-margin-bottom-mobile: 3rem;
$section-margin-bottom-desktop: 8rem;
