/* @font-face {
	font-family: 'Akzidenz Grotesk';
	src: url('fonts/AkzidenzGrotesk-ExtraBold.otf') format('opentype');
} */

@font-face {
	font-family: 'Acumin';
	src: url('/fonts/AcuminVariableConcept.otf') format('opentype');
}

@font-face {
	font-family: 'Gameplay';
	src: url('/fonts/Welbutrin.ttf') format('truetype');
	/* src: url('fonts/INVASION2000.TTF') format('truetype'); */
	/* src: url('fonts/INVASION2000.TTF') format('truetype'); */
}

:root {
	font-family: 'Acumin', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	min-height: 100vh;
	margin: 0;
	/* for scroll snap */
	/* overflow-y: hidden; */
	overflow-y: scroll;
	transition: background-gradient, background-color 400ms;
	line-height: 1.4;
	background: transparent;
	/* background-attachment: fixed; */
}
body::before {
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: block;
	position: fixed;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
